.page header {
  background-color: #2329da;
  color: #ffffff;
  height: 80px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.container {
  position: relative;
}

.pagination {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, -50%);
  display: flex;
}

.pagination :nth-child(n) {
  width: 40px;
  height: 40px;
  padding: 5px;
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
  color: #ffffff;
}

.pagination button {
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #18b37f;
  color: #ffffff;
}

.pagination button:hover {
  background-color: #3e6bff;
}

.pagination button:disabled {
  color: #ffffff;
  opacity: 0;
}

.pagination :nth-child(n):not(:last-child) {
  margin-right: 10px;
}

.skeletonPagination {
  height: 40px;
  width: 40px;
  background: #ffffff;
  animation: waveAnimation 1.5s ease-in-out infinite;
}

.listWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 100px 20px 50px;
  margin: 0 10%;
}

.itemWrapper {
  border-radius: 5px;
  height: 450px;
}

.itemWrapper a {
  height: 100%;
  display: block;
}

.skeleton {
  width: 100%;
  height: 100%;
  background: #ffffff;
  animation: waveAnimation 1.5s ease-in-out infinite;
}

@keyframes waveAnimation {
  0%,
  100% {
    opacity: 0.13;
  }
  50% {
    opacity: 0.05;
  }
}

.item {
  background-color: #2a2a2a;
  color: white;
  height: 100%;
  padding: 15px;
  transition: all 0.3s ease-in-out;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.item:hover {
  transform: scale(1.06);
}

.imageContainer {
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  aspect-ratio: 16/9;
  overflow: hidden;
}

.item h2 {
  padding: 20px 0px 10px 0px;
  color: #18b37f;
}

.lessonsCount {
  font-style: italic;
}

.additionalInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.rating {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1330px) {
  .listWrapper {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0 5%;
    font-size: 14px;
  }

  .item h2 {
    padding: 15px 0px 7px 0px;
    font-size: 20px;
  }

  .additionalInfo {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1160px) {
  .itemWrapper {
    height: 420px;
  }
}

@media screen and (max-width: 1000px) {
  .listWrapper {
    margin: 0 2%;
  }
}

@media screen and (max-width: 940px) {
  .itemWrapper {
    height: 380px;
  }
}

@media screen and (max-width: 760px) {
  .itemWrapper {
    height: 360px;
  }
}

@media screen and (max-width: 600px) {
  .listWrapper {
    grid-template-columns: 1fr;
  }

  .itemWrapper {
    height: 440px;
  }

  .item:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 560px) {
  .itemWrapper {
    height: 420px;
  }
}

@media screen and (max-width: 520px) {
  .itemWrapper {
    height: 400px;
  }
}
